/*style pour carrousel*/
 .carrousel{
    position: fixed;
        width: 100vw;
    height : 100vh;
    top : 0;
    left: 0;
/*     width: 450px;
    height: 650px;
    top: 10%;
    left: calc(50% - 225px); */
    transform: scale(0);
    transition: transform .5s;
    //background-color: rgb(167, 165, 162);
    z-index: 1;
        @media screen and (min-width: 500px) {
        width: 450px;
        height: 650px;
        top: 10%;
        left: calc(50% - 225px);
    }

} 

/* .carrousel{
    position: fixed;
    width: 100vw;
    height : 100vh;
    top : 0;
    left: 0;
    transform: scale(0);
    transition : transform .5s;
    background-color: aquamarine;
    @media screen and (min-width: 500px) {
        width: 50%;
        height : 50%;
        top : 25%;
        left: 25%;
    }

} */

// bouton de fermeture pour la boite modale
.bouton__x{

    position : absolute;
    top : 10px;
    right : 10px;
    width : 40px;
    height: 40px;
    border : 1px solid #aaa;
    border-radius: 5px;
    z-index: 10;

}

.carrousel--ouvrir{
    transform: scale(1);
}

// conteneur des images du carrousel
.carrousel__figure{
width: 100%;
height: 100%;
position: relative;
}

.carrousel__img{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity .5s;
object-fit:contain;
}

.carrousel__img--activer{
opacity: 1;
}


.carrousel__form{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.carrousel__bouton__precedent,
.carrousel__bouton__suivant {
  position: absolute;
  top: 50%;
      width : 40px;
    height: 40px;
    border : 1px solid #aaa;
    border-radius: 5px;
  transform: translateY(-50%);
}

.carrousel__bouton__precedent {
  left: 0;
}

.carrousel__bouton__suivant {
  right: 0;
}




